.main {
  height: 100vh;
  width: 100%;
  background: url('../../assets//images//game_account//color_1.jpg');
  background-position: center;
  background-size:cover;
}

.theme-switcher {
  position: absolute; // 绝对定位
  top: 10px; // 设置顶部距离
  right: 10px; // 设置右侧距离
  z-index: 10; // 确保在前面
}

.grid-container {
  display: grid;
  margin: auto;
  padding-top: 120rpx;
  grid-template-columns: 1fr 1fr; /* 定义两列，每列占据相等的空间 */
  grid-template-rows: 1fr 1fr;   /* 定义两行，每行占据相等的空间 */
  gap: 20rpx;                     /* 设置网格项之间的间距 */
}

.grid-item {
  text-align: center;
  color: rgb(44, 102, 228);
  font-weight: 700;
  padding: 20rpx;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(85, 214, 247, 0.4);
}
.grid-item Image {
  border-radius: 10rpx;
  width: 320rpx;
  height: 320rpx;
}